/*

Slick BeepBox:
	One-file custom CSS theme by Tim Krief (@timkrief) to be applied to John Nesky's amazing tool, BeepBox.co.

Instructions:
	- In BeepBox, enable the following preference:
		- Full-Screen Layout
	- These preferences are optional but recommended:
		- Show Piano Keys
		- Show All Channels
		- Octave Scroll Bar
		- Enable Channel Muting
	- Add the content of this file as a custom style for beepbox.co's domain using a browser add-on like Stylus.
	- Enjoy!
	
*/

/*

MIT License

Copyright (c) 2020 Tim Krief

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*/

/* All variable colors */
	:root {
		--page-margin: #090e13;
		--editor-background: #0a1119;
		--hover-preview: rgba(0, 162, 255, .5);
		--playhead: #f04;
		--primary-text: rgba(232, 248, 255, .7);
		--secondary-text: rgba(220, 243, 255, .3);
		--inverted-text: black;
		--text-selection: rgba(119,68,255,0.99);
		--box-selection-fill: rgba(0, 183, 255, .27);
		
		--loop-accent: #44f;
		--link-accent: #98f;
		
		--ui-widget-background: rgba(255, 255, 255, .06);
		--ui-widget-focus: rgba(0, 170, 255, .49);
		--pitch-background: rgba(0, 0, 0, .27);
		--tonic: rgba(0, 0, 0, .851);
		--fifth-note: rgba(0, 0, 0, .3);
		
		--white-piano-key: #fff;
		--black-piano-key: #101010;
		
		--pitch1-secondary-channel: #568474;
		--pitch1-primary-channel: #92ffbf;
		--pitch1-secondary-note: #47a77c;
		--pitch1-primary-note: #92ffc1;
		--pitch2-secondary-channel: #a1a100;
		--pitch2-primary-channel: #ffff25;
		--pitch2-secondary-note: #c7c700;
		--pitch2-primary-note: #ffff92;
		--pitch3-secondary-channel: #c75000;
		--pitch3-primary-channel: #ff9752;
		--pitch3-secondary-note: #ff771c;
		--pitch3-primary-note: #ffcdab;
		--pitch4-secondary-channel: #59a100;
		--pitch4-primary-channel: #82ff50;
		--pitch4-secondary-note: #3cc700;
		--pitch4-primary-note: #bbffa0;
		--pitch5-secondary-channel: #d020d0;
		--pitch5-primary-channel: #ff90ff;
		--pitch5-secondary-note: #e040e0;
		--pitch5-primary-note: #ffc0ff;
		--pitch6-secondary-channel: #7777b0;
		--pitch6-primary-channel: #a0a0ff;
		--pitch6-secondary-note: #8888d0;
		--pitch6-primary-note: #d0d0ff;
		
		--noise1-secondary-channel: #6f6f6f;
		--noise1-primary-channel: #aaaaaa;
		--noise1-secondary-note: #a7a7a7;
		--noise1-primary-note: #e0e0e0;
		--noise2-secondary-channel: #996633;
		--noise2-primary-channel: #ddaa77;
		--noise2-secondary-note: #cc9966;
		--noise2-primary-note: #f0d0bb;
		--noise3-secondary-channel: #4a6d8f;
		--noise3-primary-channel: #77aadd;
		--noise3-secondary-note: #6f9fcf;
		--noise3-primary-note: #bbd7ff;
		
		--playhead: rgba(255, 0, 68, .75)
	}

/* My variables */
	:root {
		--settings-width: 45em;
		--settings-gap: 1em;
		--pattern-area-background: radial-gradient(#2e8c72, #16569a);
		--pattern-area-background-overlay: radial-gradient(rgba(22, 77, 101, .3), rgba(16, 20, 63, .4));
		--playhead-shade: rgba(255, 0, 68, .22);
		
		/* The goo filters only work in Firefox based browsers.
		   The issue is not the filters themeselves, it's passing them as URLs.
		   You could decode them, put them in the HTML file and it would work.
		   "@supports (-moz-appearance:none)" will be used to only apply the goo filters
		   on firefox based browsers so that it wont make chromium based browsers fail.
		*/
		--goo-filter: url("data:image/svg+xml,%3Csvg style='visibility: hidden; position: absolute;' width='0' height='0' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cdefs%3E%3Cfilter id='goo'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='5' result='blur' /%3E%3CfeColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo' /%3E%3CfeComposite in='SourceGraphic' in2='goo' operator='atop'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#goo");
		--goo-filter2: url("data:image/svg+xml,%3Csvg style='visibility: hidden; position: absolute;' width='0' height='0' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cdefs%3E%3Cfilter id='goo2'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='2' result='blur' /%3E%3CfeColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo' /%3E%3CfeComposite in='SourceGraphic' in2='goo' operator='atop'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#goo2");
	}

/* Hide the text content to remove the vertical scrollbar */
	#text-content {
		display: none;
	}

/* Opening animation */
	body, html {
		overflow: hidden;
	}
	#beepboxEditorContainer {
		animation: 1s ease-in-out shrinkIn !important;
		overflow: hidden;
	}
	@keyframes shrinkIn {
		from { opacity:0; transform: scale(1.5, 1.5); }
		50% { opacity: 0.05; }
		to	{ opacity:1; transform: scale(1, 1); }
	}

/* Settings area */
	.beepboxEditor {
		grid-template-columns: minmax(0, 1fr) ;
		grid-column-gap: 0;
	}

	.beepboxEditor .settings-area{
		background: rgba(0, 0, 0, .3);
		width: var(--settings-width);
		border: solid transparent;
		border-width: calc(var(--settings-gap) / 2);
	}

	.beepboxEditor .instrument-settings-area {
		overflow-x: hidden;
		align-items: center;
	}

	.play-pause-area, .menu-area, .editor-controls{
		border-radius: 1em !important;
		background: rgba(255, 255, 255, .025);
		margin: .6em auto !important;
		padding: .5em !important;
		width: calc(100% - 1em - var(--settings-gap)) !important;
	}

	.beepboxEditor input[type="range"]{
		background: none;
	}
	.beepboxEditor input[type="range"]::-moz-range-track {
		border-radius: 1em;
	}
	.beepboxEditor input[type="range"]::-moz-range-thumb {
		height: 1em;
		width: 1em;
		border-radius: 1em;
	}

	button, input, select, .selectRow{
		border-radius: 2em !important;
		height: 2.1em !important;
		margin: .1em !important;
		
		transition: background .15s ease !important;
	}
	button:hover, input:hover, select:hover{
		background: rgba(255, 255, 255, .13)
	}

	::-moz-focus-inner {border: none}
	select:-moz-focusring { color: transparent; text-shadow: 0px 0px 0px #fff; }
	select *{
		background-color: var(--editor-background)!important
	}

/* Pattern area (main area) */
	.pattern-area{
		background: var(--pattern-area-background);
		background-size: cover;
		background-position: center;
	}
	.pattern-area>div{
		background: var(--pattern-area-background-overlay);
	}
	.pattern-area>div>div>svg{
		background-color: transparent !important;
	}

	.pattern-area>div[style*="flex: 1"]>div:first-child,
	.pattern-area>div[style*="flex: 1"]>div:last-child
	{
		filter: blur(.3em);
		opacity: 0.4
	}

	rect[fill="var(--editor-background)"]{
		opacity: 0.1 !important
	}

	.pattern-area rect[fill="var(--playhead)"]{
		width: .5em;
		fill: var(--playhead);
		stroke-width: 30;
		stroke: var(--playhead-shade);
	}

	.pattern-area rect[fill="var(--tonic)"],
	.pattern-area rect[fill="var(--pitch-background)"]{
		opacity: 0.7;
	}

/* Notes */
	path[fill*="-primary-note"]{
		stroke-width: 2;
		stroke-linejoin: round;
	}
	 path[fill="var(--pitch1-primary-note)"]{
		stroke: var(--pitch1-primary-note);
	}
	 path[fill="var(--pitch2-primary-note)"]{
		stroke: var(--pitch2-primary-note);
	}
	 path[fill="var(--pitch3-primary-note)"]{
		stroke: var(--pitch3-primary-note);
	}
	 path[fill="var(--pitch4-primary-note)"]{
		stroke: var(--pitch4-primary-note);
	}
	 path[fill="var(--pitch5-primary-note)"]{
		stroke: var(--pitch5-primary-note);
	}
	 path[fill="var(--pitch6-primary-note)"]{
		stroke: var(--pitch6-primary-note);
	}

	path[fill*="-secondary-note"]{
		opacity: 0.5;
	}

	path[fill*="var(--noise"]{
		opacity: 0.4;
	}

	path[stroke="var(--hover-preview)"]{
		stroke-width: 10;
		stroke-linejoin: round;
		fill: var(--hover-preview);
		opacity: 0.2;
	}

	@supports (-moz-appearance:none) {
		path[fill*="-primary-note"]{
			filter: var(--goo-filter);
		}
		
		path[fill="var(--pitch1-secondary-note)"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 10px var(--pitch1-secondary-note) );
		}
		path[fill="var(--pitch2-secondary-note)"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 10px var(--pitch2-secondary-note) );
		}
		path[fill="var(--pitch3-secondary-note)"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 10px var(--pitch3-secondary-note) );
		}
		path[fill="var(--pitch4-secondary-note)"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 10px var(--pitch4-secondary-note) );
		}
		path[fill="var(--pitch5-secondary-note)"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 10px var(--pitch5-secondary-note) );
		}
		path[fill="var(--pitch6-secondary-note)"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 10px var(--pitch6-secondary-note) );
		}

		path[fill*="var(--noise"]{
			filter: var(--goo-filter2) drop-shadow( 0 0 3px rgba(255, 255, 255, .43) );
		}

		path[stroke="var(--hover-preview)"]{
			filter: var(--goo-filter) drop-shadow( 0 0 5px var(--hover-preview) );
		}
	}

/* Tracks area */
	text[fill*="-secondary-channel"] {
		opacity: 0.32
	}

	.trackContainer svg rect {
		rx: 11pt !important;
		ry: 11pt !important;
	}
	.trackContainer rect[fill="var(--playhead)"]{
		rx: 2pt !important;
		ry: 2pt !important;
	}

/* Piano area */
	.pattern-area>div:first-child[style*="width: 32px"]{
		width: 8em !important;
		z-index: 10000 !important;
	}

	.beepboxEditor .piano-button::before {
		content: none;
	}

	.beepboxEditor .piano-button {
		box-shadow: -.3em 0 .6em #00000085;
	}
	.beepboxEditor .piano-button.disabled:after {
		content: none;
	}

	.beepboxEditor .piano-button.disabled {
		opacity: 1
	}
	.pattern-area>div:first-child[style*="width: 32px"]>div:last-child{
		border: 0!important;
		background-image: linear-gradient(90deg, grey, transparent 70%);
		z-index: 200;
		opacity:0.3;
		transition: 100ms opacity ease;
		filter: blur(.1em);
	}

	.beepboxEditor .piano-button[style*="--black-piano-key"] {
		width: 6em;
		margin-top: -.3em;
		margin-bottom: -.3em;
		z-index: 100;
		border-radius: 0 .3em .3em 0;
	}

	.beepboxEditor .piano-button[style*="--black-piano-key"]:before {
		content: "";
		position: absolute;
		left: 100%;
		background-image: linear-gradient(var(--white-piano-key) 50% , rgb(197, 197, 197) 50%, var(--white-piano-key) 62%) !important;
	}

	.pattern-area>div:first-child[style*="width: 32px"]>div:last-child[style*="visibility: hidden"]{
		opacity:.6;
	}

	.pattern-area>div:first-child[style*="width: 32px"]:hover>div:last-child{
		visibility: visible!important;
	}

/* Centered track area */

	.beepboxEditor .track-area{
		width: auto;
		margin: auto
	}

/* Collapsable settings */

	.beepboxEditor .settings-area {
		position: relative;
	}
	.beepboxEditor .settings-area:before {
		content: "⚙️ Settings";
		white-space: nowrap;
		position: absolute;
		top: 50%;
		padding: 0 3rem;
		background: var(--editor-background);
		transition: 200ms all ease;
		transform: rotate(-90deg) translate(-50%, 0) ;
		transform-origin: 0 0;
		font-size: 1.2rem;
		height: 2rem;
		line-height: 2rem;
		opacity: 1;
	}
	.beepboxEditor .settings-area:hover:before {
		opacity: 0;
	}

	.beepboxEditor .settings-area {
		width: 2rem;
		transition: 200ms all ease;
	}
	.beepboxEditor .settings-area:hover {
		width: var(--settings-width);
	}
	.beepboxEditor .settings-area>* {
		opacity: 0;
	}
	.beepboxEditor .settings-area:hover>* {
		opacity: 1;
	}

/* End!

	Find me online: links.timkrief.com

*/
